OPENAI_API_KEY=api-key-here

GATEWAY_API_KEY=api-key-here
GATEWAY_BASE_URL=https://ai-gateway.uni-paderborn.de/v1/
GATEWAY_CHAT_MODEL=model-name-here
GATEWAY_EMB_MODEL=embedding-model-name-here
GATEWAY_RPM=10
